@using Chomp.Models
@using Microsoft.Ajax.Utilities
@model Chomp.ViewModels.RecipeFormViewModel
@{
    ViewBag.Title = "RecipeForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Recipes"))
{
    <div class="form-group">
        @Html.LabelFor(r => r.Recipe.Name)
        @Html.TextBoxFor(r => r.Recipe.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Recipe.CookingTimeInMins)
        @Html.TextBoxFor(r => r.Recipe.CookingTimeInMins, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Recipe.CuisineId)
        @Html.DropDownListFor(r => r.Recipe.CuisineId, new SelectList(Model.Cuisines, "Id", "Name"), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Recipe.DifficultyId)
        @Html.DropDownListFor(r => r.Recipe.DifficultyId, new SelectList(Model.Difficulties, "Id", "Name"), "", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(r => r.Recipe.Instruction)
        @Html.TextAreaFor(r => r.Recipe.Instruction, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(r => r.Ingredient.Name)
        @Html.TextBoxFor(r => r.Ingredient.Name, new { @class = "form-control" })
    </div>

    if (Model.Ingredients != null)
    {
        for (var i = 0; i < Model.Ingredients.Count; i++)
        {
            <div class="form-group">
                @Html.LabelFor(r => Model.Ingredients[i].Name)
                @Html.TextBoxFor(r => Model.Ingredients[i].Name, new { @class = "form-control" })
                @Html.HiddenFor(r => Model.Ingredients[i].Id)
                @Html.ActionLink("Delete ingredient", "DeleteIngredient", "Recipes",
                    new { id = Model.Ingredients[i].Id, userId = Model.Recipe.AspNetUserId, recipeId = Model.Recipe.Id },
                    new { @class = "btn btn-primary" })
            </div>
        }
    }


    @Html.HiddenFor(r => r.Recipe.Id)
    @Html.HiddenFor(r => r.Ingredient.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}